[production]

last 2 chrome major versions
last 2 firefox major versions
last 2 edge major versions
last 2 opera major versions
last 2 safari major versions

last 2 and_chr major versions
last 2 and_ff major versions
last 2 ios_saf major versions
