last 3 chrome major versions
last 3 safari major versions
last 3 firefox major versions
last 3 edge major versions
last 3 opera major versions

last 3 ios_saf major versions
last 3 and_chr major versions
last 3 and_ff major versions
