name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    if: contains('["morganney"]', github.actor)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
      - name: Setup Node
        uses: actions/setup-node@v3.4.1
        with:
          node-version: '18.16.0'
      - name: Install Dependencies
        run: npm ci
      - name: Save error log
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: npm-debug-log-${{ hashFiles('package-lock.json') }}
          path: npm-debug.log
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm test
      - name: Push to NPM registry
        uses: JS-DevTools/npm-publish@v2.0.0
        with:
          token: ${{ secrets.NPM_AUTH_TOKEN }}
          package: packages/tts-react
