name: Publish

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    if: contains('["morganney"]', github.actor)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Setup Node
        uses: actions/setup-node@v4.1.0
        with:
          node-version: '24.12.0'
      - name: Install Dependencies
        run: npm ci
      - name: Save error log
        uses: actions/upload-artifact@v4.4.3
        if: ${{ failure() }}
        with:
          name: npm-debug-log-${{ hashFiles('package-lock.json') }}
          path: npm-debug.log
      - name: Pack
        run: npm pack --pack-destination=packages/tts-react --workspace=tts-react
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm test
      - name: Push to NPM registry
        uses: JS-DevTools/npm-publish@v4.1.1
        with:
          package: packages/tts-react
          tag: ${{ contains(github.ref, '-') && 'next' || 'latest' }}
